#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  background: linear-gradient(to bottom, #d7e9fc, #ffffff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.component {
  background-color: #ffffff; /* Clean white base */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border-radius: 8px; /* Smooth, rounded corners */
  padding: 1rem; /* Add spacing inside the component */
  margin: 1rem 0; /* Add spacing outside the component */
  transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

.component:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.days-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
}

@media (max-width: 1200px) {
  .days-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 875px) {
  .days-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .days-container {
    grid-template-columns: 1fr;
  }
}

.day-card {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.add-recipe-card {
  background: white;
  padding: 16px;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopping-list {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shopping-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.shopping-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}

.shopping-list li:last-child {
  border-bottom: none;
}

.shopping-list li:hover {
  background-color: #f0f0f0;
}
